.editnav {
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display: none;
    background: #fff;
    border-radius: 10px;

    &.show{
        display: block;
    }

    .close{
        width:50px;
        height:50px;
        font-size:40px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .myChanelHeader,.chanelRecHeader{
        margin-top:30px;
        height:0.6rem;
        position:relative;
    }

    .myChanelHeader .title,.chanelRecHeader .title{
        font-size: 0.4rem;
        margin-left: 10px;
    }

    .myChanelHeader .click,.chanelRec .click{
        font-size:0.3rem;
        margin-left:20px;
        color:#ccc;
    }

    .myChanelHeader .edit{
        display: inline-block;
        width:1rem;
        height:0.5rem;
        font-size: 0.3rem;
        border:1px solid red;
        text-align: center;
        line-height: 0.5rem;
        border-radius: 20px;
        color:red;
        position:absolute;
        right:10px;
    }

    .mychanelList,.chanelRecList{
        margin-top:10px;
    }
    .mychanelList span,.chanelRecList span{
        display: inline-block;
        width:22%;
        background-color: #eee;
        height: 50px;
        border-radius: 5px;
        margin:10px 10px;
        text-align: center;
        line-height: 50px;
    }
    
}