.editnav {
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display: none;
    background: #fff;
    border-radius: 10px;

    &.show{
        display: block;
    }

    .closeEditNav{
        width:50px;
        height:40px;
        font-size:40px;
        margin-left: 10px;
        margin-top: 5px;
        position:fixed;
    }

    .myChanel{
        margin-top: 80px;

        &.curSelected{
            color:#FF0000;
        }
    }
    .myChanelHeader,.chanelRecHeader{
        margin-top:30px;
        height:0.6rem;
        position:relative;
    }

    .myChanelHeader .title,.chanelRecHeader .title{
        font-size: 0.4rem;
        margin-left: 10px;
    }

    .myChanelHeader .click,.chanelRec .click{
        font-size:0.3rem;
        margin-left:20px;
        color:#ccc;
    }

    .myChanelHeader .edit{
        display: inline-block;
        width:1rem;
        height:0.5rem;
        font-size: 0.3rem;
        border:1px solid red;
        text-align: center;
        line-height: 0.5rem;
        border-radius: 20px;
        color:red;
        position:absolute;
        right:10px;
    }

    .mychanelList,.chanelRecList{
        margin-top:10px;
    }
    .mychanelList .chanelWrap{
        display: inline-block;
        width:22%;
        background-color: #eee;
        height: 70px;
        border-radius: 5px;
        margin:10px 10px;
        text-align: center;
        line-height: 70px;
        position: relative;
    }

    .chanelRecList .chanelWrap{
        display: inline-block;
        width:22%;
        background-color: #fff;
        height: 70px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #ccc; /*如何设置四边都有阴影*/
        margin:10px 10px;
        text-align: center;
        line-height: 70px;
        position: relative;
    }
    .delChannel{
        position: absolute;
        top:-8px;
        right: -8px;
        width:40px;
        height: 40px;
        border-radius: 20px;
        color:#fff;
        background-color: #ccc;
        text-align: center;
        line-height: 40px;
        display: none;
        
        &.iconClose {
            display: block;
        }
    }
}